body{
margin:0;
font-family:Consolas;
background:#020617;
color:white;
}

/* CARD */

.card{
width:90%;
max-width:420px;
margin:120px auto;
padding:35px;
background:#0f172a;
border-radius:10px;
text-align:center;
box-shadow:0 0 20px #00ff88;
}

.hidden{
display:none;
}

/* INPUT */

input{
width:90%;
padding:12px;
margin:10px;
border:none;
border-radius:6px;
}

/* BUTTON */

button{
padding:10px 20px;
border:none;
border-radius:6px;
background:#00ff88;
font-weight:bold;
cursor:pointer;
}

/* TOPBAR */

.topbar{
display:flex;
justify-content:space-between;
padding:15px;
background:#0f172a;
}

/* CONTEST */

.contestContainer{
display:flex;
height:calc(100vh - 80px);
}

/* QUESTION */

.questionPanel{
width:40%;
padding:20px;
background:#0f172a;
overflow:auto;
}

pre{
background:#020617;
padding:15px;
border-radius:6px;
color:#00ff88;
}

/* COMPILER */

.compilerPanel{
width:60%;
padding:20px;
background:#111;
display:flex;
flex-direction:column;
}

#codeEditor{
height:300px;
background:#000;
color:#00ff88;
padding:10px;
border:none;
margin-top:10px;
}

#outputBox{
background:black;
color:#00ff00;
padding:15px;
margin-top:10px;
}

/* NAV */

.navButtons{
margin-top:20px;
display:flex;
gap:10px;
}

#submitArea{
margin-top:20px;
display:none;
}
